<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div id="sidebar">
        <div class="header">Admin Dashboard</div>
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link" href="/addposition">Adding Position</a>
        <a class="nav-link" href="#">Applicants</a>
        <a class="nav-link" href="#">Settings</a>
        <a class="nav-link" href="#">Logout</a>
    </div>

</body>
</html>