<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="uploadResume.css">
</head>
<body>
    <div>
        <div>
            <h2>Upload your resume and find the right job for you!</h2>
        </div>
        <div>
            <input type="file" id="upload">
        </div>

    </div>    
</body>
</html>