    .main-container{
        height: 800px;
    }
  
  .upload-container {
    position: relative;
    margin-left: 23%;
  }
  
  .upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2a3766;
    width: 700px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  #edit-button{
    display:inline-block;
    background-color: #2a3766;
    width: 200px;
    height: 28px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    padding-top: 2px;
  }
  
  .upload-button:hover,#openPopup:hover,#edit-button:hover {
    background-color: #20c997;
  }
  
  /* Hide the default file input */
  .hidden {
    display: none;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width:90%;
    min-height:90%;
    overflow: auto;
    padding-top:0px;
  }
  
  #pdfFrame {
    width: 100%;
    height: 500px;
    border: none;
  }

  #openPopup{
    background-color: #2a3766;
    width:200px;
    padding:2px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
   
  }

  #closePopup {
    margin-top: 0;
    margin-right:-20px;
    width:40px;
    height:30px;
    text-align:center;
    border:none;
    background:transparent;
    float:right;
  }

  #closePopup:hover{
    background-color:red;
  }

  #viewEdit{
    display:flex;
     margin-left: 32%;
     margin-top: 3%;
  }
  
  
  
  
  
  