body{

}
.popup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.095);
    opacity: 0;
    z-index: 10;
}

.popup video {
    position: relative;
    max-width: 900px;
    outline: none;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.904);
    z-index: 10;
}

.popup .close {
    position: absolute;
    color: red; /* Set the close icon color to red */
    top: 5%;
    right: 90px;
    max-width: 330px;
    cursor: pointer;
    filter: invert(1);
    z-index: 20; /* Bring the close button above the video */
}

.popup.active {
    visibility: visible;
    opacity: 1;
    z-index: 20; /* Bring the entire popup to the front */
}

@media (max-width: 991px) {
    .popup video {
        max-width: 90%;
    }
}
.speaker
{
    font-size: 3em;
}
.screenr12
{
    margin-top: 9%;
    
}
